---
import { articles as originalArticles } from "./Article2Storage.js";
import { interviews as originalInterviews } from "./Interview2Storage.js";
import Container from "../../global/NewsContainer.astro";
import NewsNav from "../News2/News2Nav.astro";
const basePath = import.meta.env.PROD ? "/Genesis/" : "/";

// Map articles to include 'url' and 'type' properties
const articles = originalArticles.map((article) => ({
  ...article,
  url: `${basePath}article2/${article.slug}`, // Derive 'url' from 'slug'
  type: article.type || "default", // Add a default 'type' if missing
}));

// Map interviews to include 'url' and 'type' properties
const interviews = originalInterviews.map((interview) => ({
  ...interview,
  url: `${basePath}interview2/${interview.slug}`, // Derive 'url' from 'slug'
  type: interview.type || "default", // Add a default 'type' if missing
}));

// Function to get a unique random item (article or interview)
let displayedItems = new Set();
function getUniqueRandomItem() {
  const allItems = [...articles, ...interviews];
  if (displayedItems.size === allItems.length) {
    // Reset the set if all items have been displayed
    displayedItems.clear();
  }

  let randomItem;
  do {
    randomItem = allItems[Math.floor(Math.random() * allItems.length)];
  } while (displayedItems.has(randomItem));

  displayedItems.add(randomItem);
  return randomItem;
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Madrigal International Times</title>
</head>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 25px; /* Large margins on both sides */
  }

  .grid-item {
    background-color: transparent; /* Remove background color */
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative; /* Added for positioning the date */
  }

  .grid-item-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    flex: 1;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .grid-item-text {
    margin-top: auto;
    padding: 20px;
    color: #fff;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: rgba(62, 95, 89, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 1;
  }

  .grid-item:hover .grid-item-text {
    background-color: #215a47;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .grid-item-date {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgba(62, 95, 89, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
  }
</style>

<Container>
  <NewsNav />
  <!-- Trending Articles text -->
  <div>
    <div class="flex justify-between items-center px-5 mx-5">
      <h1 class="text-3xl font-bold text-gray-900 ml-3">Highlights</h1>
    </div>
  </div>

  <!-- Article Box -->
  <div class="grid-container">
    {
      Array.from({ length: 1 }).map(() => {
        const { title, description, image, url, date } = getUniqueRandomItem();
        return (
          <a
            href={url}
            class="grid-item"
            style="grid-column: span 3; margin-bottom: 190px;"
          >
            <div class="grid-item">
              <div
                class="grid-item-image group"
                style={`background-image: url('${image}');`}
              />
              <time datetime={date} class="grid-item-date">
                {new Date(date).toLocaleDateString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
              <div class="grid-item-text">
                <h2 class="text-[20px]">{title}</h2>
                <p>{description}</p>
              </div>
            </div>
          </a>
        );
      })
    }
    {
      Array.from({ length: 6 }).map(() => {
        const { title, description, image, url, date } = getUniqueRandomItem();
        return (
          <a href={url} class="grid-item" style="height: 150%;">
            <div class="grid-item" style="margin-bottom: 150px ;">
              <div
                class="grid-item-image group"
                style={`background-image: url('${image}');`}
              />
              <time datetime={date} class="grid-item-date">
                {new Date(date).toLocaleDateString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
              <div class="grid-item-text">
                <h2 class="text-[20px]">{title}</h2>
              </div>
            </div>
          </a>
        );
      })
    }
  </div>

  <div style="margin-bottom: 80px;"></div>
</Container>
